<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LoginAuth</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserUtilities</display-name>
    <servlet-name>UserUtilities</servlet-name>
    <servlet-class>com.controller.UserUtilities</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUtilities</servlet-name>
    <url-pattern>/UserUtilities</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LandingPage</display-name>
    <servlet-name>LandingPage</servlet-name>
    <servlet-class>com.controller.LandingPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LandingPage</servlet-name>
    <url-pattern>/LandingPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>AdminUtilities</display-name>
    <servlet-name>AdminUtilities</servlet-name>
    <servlet-class>com.controller.AdminUtilities</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUtilities</servlet-name>
    <url-pattern>/AdminUtilities</url-pattern>
  </servlet-mapping>
</web-app>